.ratingArea {
  overflow: hidden;
}
.ratingArea:not(:checked) > input {
  display: none;
}
.ratingArea:not(:checked) > label {
  float: right;
  width: 15px;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  color: lightgrey;
}
.ratingArea:not(:checked) > label:before {
  content: "★";
}
.ratingArea > input:checked ~ label {
  color: #f26a61;
}
.ratingArea:not(:checked) > label:hover,
.ratingArea:not(:checked) > label:hover ~ label {
  color: #f26a61;
}
.ratingArea > input:checked + label:hover,
.ratingArea > input:checked + label:hover ~ label,
.ratingArea > input:checked ~ label:hover,
.ratingArea > input:checked ~ label:hover ~ label,
.ratingArea > label:hover ~ input:checked ~ label {
  color: #f26a61;
}
.ratingArea > label:active {
  position: relative;
}
